@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.offers {
  padding-bottom: 120px;

  .container {
    position: relative;
    height: 500px;
    overflow: hidden;

    .offers-carousel {
      background-repeat: no-repeat;
      background-position-x: calc(50% + 246px);

      svg {
        position: absolute;
        z-index: 0;
      }

      .offers-wrapper {
        display: flex;
        flex-direction: column;
        padding: 100px 0 98px 80px;
        margin: 0;
        max-width: 548px;

        .offers-lead-in {
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: 0.4em;
          text-transform: uppercase;
          color: $light-blue-text-color;
          z-index: 1;
        }

        .offers-title {
          @include head-lora-50;
          line-height: 130%;
          color: #FFFFFF;
          z-index: 1;

          span {
            color: $light-blue-text-color;
          }
        }

        .offers-text {
          font-size: 24px;
          line-height: 130%;
          color: #FFFFFF;
          width: 456px;
          z-index: 1;
        }

        .offers-button {
          width: 163px;
          margin-top: 40px;
          z-index: 1;
        }
      }
    }

    .offers-arrows {
      display: flex;

      a {
        top: calc(50% - 14px);
        display: flex;
        position: absolute;
        cursor: pointer;
        z-index: 3;

        &.move-backward {
          left: 10px;
        }

        &.move-forward {
          right: 10px;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.services {
  padding-bottom: 120px;

  .container {
    .services-title {
      @include head-lora-38;
      text-align: start;
      margin-bottom: 40px;
    }

    .services-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.info {
  background-color: #FFFFFF;
  background-image: url("../../../assets/images/page/info-bg.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% - 390px);
  padding-bottom: 120px;

  .container {

    .info-wrapper {
      padding-left: 521px;

      .info-title {
        @include head-lora-38;
        margin-bottom: 20px;
      }

      .info-text {
        max-width: 633px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $violet-text-color;
        margin-bottom: 40px;

        span {
          font-weight: 500;
        }
      }

      .info-advantages {
        .info-advantages-title {
          @include head-lora-26;
          margin-bottom: 20px;
        }

        .info-advantages-wrapper {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px 73px;
          margin-right: 9px;

        }
      }
    }
  }
}

.popular-articles {
  padding-bottom: 120px;

  .container {
    .popular-articles-title {
      @include head-lora-38;
      margin-bottom: 20px;
    }

    .popular-articles-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    .popular-articles-going {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 195px;
      cursor: pointer;
      margin-left: auto;

      .popular-articles-going-href {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: $light-blue-text-color;
        text-decoration: none;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  .container {
    .reviews-title {
      @include head-lora-38;
      text-align: center;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;

      .reviews-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid #071739;
        border-radius: 5px;
        box-sizing: border-box;

        .reviews-item-head {
          display: flex;
          align-items: center;

          .reviews-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .reviews-item-name {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: $light-blue-text-color;
          }
        }

        .reviews-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 140%;
          color: $dark-blue-text-color;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -25px;
          }

          &.move-forward {
            right: -25px;
          }
        }
      }
    }
  }
}

.contacts {
  padding-bottom: 120px;

  .container {
    .contacts-wrapper {
      display: flex;
      gap: 26px;
      align-items: center;

      .contacts-map {

      }

      .contact {
        margin-bottom: 63px;
        max-width: 500px;

        .contact-title {
          @include head-lora-38;
          margin-bottom: 20px;
        }

        .wrapper {
          margin-bottom: 20px;

          a {
            text-decoration: none;
          }

          .title {
            font-size: 20px;
            color: $light-blue-text-color;
            margin-bottom: 10px;
          }

          .info-text {
            font-size: 14px;
            color: $dark-blue-text-color;
          }

          .contact-social-icon {
            display: flex;
            align-items: center;

            a {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
