@import "../../../../assets/styles/variables";

.service-card {

  display: flex;
  flex-direction: column;
  position: relative;
  width: 291px;
  height: 498px;
  box-sizing: border-box;

  &.is-data-backend {
    height: 571px;
  }

  .service-card-category {
    position: absolute;
    top: 10px;
    right: 9px;
    z-index: 2;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 8px 18px 10px 18px;
    box-sizing: border-box;

    span {
      font-size: 11px;
      color: $light-blue-text-color
    }
  }

  .service-card-image {
    width: 291px;
    height: 291px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
  }

  .service-card-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: $light-blue-text-color;
    margin-top: 15px;
    flex-shrink: 0;
  }

  .service-card-text {
    height: 90px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: $dark-blue-text-color;
    margin-top: 10px;

    &.is-data-backend-text {
      flex: 1 1 auto;
      overflow-y: auto;
      margin-top: 20px;
    }
  }

  .service-card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    flex-shrink: 0;

    .service-card-price {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: $light-blue-text-color;
    }

    .service-card-action .button {
      width: 163px;
    }
  }

  .service-card-reading {
    flex-shrink: 0;
    color: $light-blue-text-color;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
  }
}
