@import "variables";

@mixin head-lora-36 {
  font-family: "lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
}

@mixin head-lora-38 {
  font-family: "lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
}

@mixin head-lora-50 {
  font-family: "lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}
